a2wsgi==1.10.10
attr==0.3.2
brotli==1.2.0
brotlicffi==1.2.0.1
ConfigParser==7.2.0
contextlib2==21.6.0
cppyy==3.5.0
cryptography==48.0.0
curio==1.6
cython==3.2.5
docutils==0.23
email_validator==2.3.0
eval_type_backport==0.4.0
exceptiongroup==1.3.1
fastapi_cli==0.0.24
filelock==3.29.1
fontTools==4.63.0
gunicorn==26.0.0
h2==4.3.0
HTMLParser==0.0.2
hypothesis==6.155.2
ipython==9.14.1
ipywidgets==8.1.8
itsdangerous==2.2.0
Jinja2==3.1.6
# jnius
keyring==25.7.0
orjson==3.11.9
outcome==1.3.0.post0
pandas==3.0.3
Pillow==12.2.0
protobuf==7.35.0
pymupdf_fonts==1.0.5
pyOpenSSL==26.2.0
pytest==9.0.3
python_socks==2.8.1
redis==8.0.0
socksio==1.0.0
speedups==2.1.0
Sphinx==9.1.0
thread==2.0.6
toml==0.10.2
ujson==5.12.1
url_parser==3.0.3
urllib3_secure_extra==0.1.0
watchgod==0.8.2
Werkzeug==3.1.8
winloop==0.6.3
wsproto==1.3.2
# xmlrpclib